body{
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.navbar{
  background-color: rgba(79, 0, 153, 0.95);
  font-size: 1.5em;
  }

  .container{
    margin-left: 3vw;
  }

.apropos, .projets{
  display: flex;
  flex-wrap: wrap;
}

.hero{
  width: 100%;
  height: 100vh;
  filter: drop-shadow(12px 12px 8px black);
}

.hero-text{
  padding-top: 46vh;
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1{
  font-family: 'montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 50px;
}

p{
  font-size: 1.5rem;
}

.text{
  padding: 3vh 3vw 0 3vw;
}



.apropos{
  padding: 4vh 4vw 0 4vw;
}
.projets{
  padding: 4vw;

}

.photo img{
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.card-text{
  color: black;
  
}

.card img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.card img:hover{
  opacity: 75%;
}

.card{
  margin: 1vh 1vw 1vh 1vw;
  border: none;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: center;
}

footer{
  background-color: rgba(79, 0, 153, 0.5);
}

.contact{
  padding:0 3vw 3vh 3vw;
  text-align: center;
}
.text-extra{
  font-weight: 900;
}

.copyright{
  text-align: right;
  padding: 0 3vw 3vh 0;
}

h2{
  text-align: center;
  font-weight: bolder;
}
.link:link{
  color: rgb(132, 1, 255);
}

.link:hover{
  text-decoration: none;
}

