body{
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.navbar{
  background-color: rgba(79, 0, 153, 0.5);
  font-size: 1.5em;
  }

  .container{
    margin-left: 3vw;
  }

.apropos, .projets{
  display: flex;
  flex-wrap: wrap;
}

.hero{
  width: 100%;
  height: 100vh;
  filter: drop-shadow(12px 12px 8px black);
  display: flex;
}

.hero-text{
  padding-top: 46vh;
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1{
  font-family: 'montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 0 50px;
}

p{
  font-size: 1.5rem;
}

.text-propos{
  padding: 3vw;
}

.profil{
  object-fit: contain;
  height: 100%;
  padding: 3vw;
}

.apropos, .projets{
  padding: 4vw;
}
